@import url('https://fonts.googleapis.com/css?family=Sora:400,500,600,700&display=swap');

* {
    scroll-behavior: smooth;
}

.mantine-List-item::marker {
    color: var(--mantine-color-yellow-8);
    font-weight: 600;
}